<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <div class="navigation">
        <span>navigation</span>
    </div>
    <div class="main-wraper">
        {{{body}}}
    </div>
    {{> scripts}}
</body>

</html>