<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <div class="navigation">
        <h1>navigation</h1>
    </div>
    <div class="main-wraper">
        {{{body}}}
    </div>
    {{> scripts}}
</body>

</html>